<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate User</title>
    
</head>
<body style="font-size: 30px;">
    <center>
        <p id="thank" style="background-color: rgb(116, 219, 142); font-size: large;"><br/><b>Thank you for Registering with us !!!</b><br/><br/></p>
<br><br>
        
        <p id='print' style='background-color: beige; font-size: 30px; text-align: center; padding: 15px;'><b>Click Here to Activate</b><br><br><a href="http://localhost:4000/createpsw/:<%=hlink%>">http://localhost:4000/createpsw/:<%=hlink%></a></p>
    </center>
</body>
</html>