<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks List</title>
    <style>
        table td
        {
            padding : 7px;
        }
    </style>
</head>
<body>
    <!-- Copy table from one db to another -->
    <!-- CREATE TABLE Cred.Stu AS SELECT * FROM nodesql.Stu; -->
    <center>
        <br><br>
    <table border="0px">
        <tr>
            <th>Task</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>1. Kuku Cube</td>
            <td><a href="http://localhost:4000/kuku">http://localhost:4000/kuku</a></td>
        </tr>
        <tr>
            <td>2. Tic Tac Toe</td>
            <td><a href="http://localhost:4000/t3">http://localhost:4000/t3</a></td>
        </tr>
        <tr>
            <td>3. Dynamic Table</td>
            <td><a href="http://localhost:4000/dynamo">http://localhost:4000/dynamo</a></td>
        </tr>
        <tr>
            <td>4. Sorting</td>
            <td><a href="http://localhost:4000/sorting">http://localhost:4000/sorting</a></td>
        </tr>
        <tr>
            <td>5. JS Events</td>
            <td><a href="http://localhost:4000/jsevents">http://localhost:4000/jsevents</a></td>
        </tr>
        <tr>
            <td>6. Dynamic Query</td>
            <td><a href="http://localhost:4000/dynamic_query">http://localhost:4000/dynamic_query</a></td>
        </tr>
        <tr>
            <td>7. Dynamic Search</td>
            <td><a href="http://localhost:4000/search_detail">http://localhost:4000/search_detail</a></td>
        </tr>
        <tr>
            <td>8. Delimeter Search</td>
            <td><a href="http://localhost:4000/delimeter_search">http://localhost:4000/delimeter_search</a></td>
        </tr>
        <tr>
            <td>9. Attendance Report</td>
            <td><a href="http://localhost:4000/attendance_report">http://localhost:4000/attendance_report</a></td>
        </tr>
        
        <tr>
            <td>10. Result Report</td>
            <td><a href="http://localhost:4000/result_report">http://localhost:4000/result_report</a></td>
        </tr>

        <tr>
            <td>11. Job Application Form using AJAX</td>
            <td><a href="http://localhost:4000/jobapp_ajax">http://localhost:4000/jobapp_ajax</a></td>
        </tr>

    </table>
</center>
</body>
</html>